html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-montserrat);
  scroll-behavior: smooth;
}

/* Usás Montserrat cuando quieras específicamente */
.montserrat {
  font-family: var(--font-montserrat);
}

@media (max-width: 768px) {
  .nav-links {
    position: relative;
    top: 40%;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding-top: 0;
  }
  .main-text {
    font-size: 3rem !important;
  }
  .main-text-2 {
    font-size: 3rem !important;
    top: 45% !important;
  }
}

