.contacto_section {
  background-image: url("/img/contact-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 20px;
  text-align: center;
}
.contacto_title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: white;
}

.contacto_form {
  max-width: 800px;
  margin: 0 auto;
}

.form_row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.form_row input,
.form_row textarea {
  flex: 1;
  min-width: 280px;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.enviar_btn {
  padding: 20px 80px;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.enviar_btn:hover {
  background-color: white; 
  color: black;
  cursor: pointer;
  font-size: 1.3rem;
}

.textarea {
  min-height: 120px;
  resize: vertical;
}
