.donde_comprar_main {
  background-color: white;
  padding: 20px 40px;
  text-align: center;
  position: relative;
}

.donde_comprar_title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 2rem;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  overflow: hidden;
  perspective: 1000px;
}

.carousel_slide {
  position: absolute;
  transition: all 0.8s ease-in-out;
  width: 40%;
  max-width: 500px;
  aspect-ratio: 14/4;
}

/* MEDIA QUERY PARA MÓVIL */
@media (max-width: 600px) {
  .carousel {
    height: 400px; /* más alto para mostrar vertical */
  }

  .carousel_slide {
    width: 90%; 
  }
}
