.hero {
  position: relative;
  width: 100%;
  height: 15.5vh;
  overflow: hidden;
}

.overlay {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 14.5vh;
}

/* Nueva capa para disparar el hover */
.hover_trigger {
  position: absolute;
  top: 0;
  left: 0;
  height: 14.5vh; /* Área donde ocurre el hover */
  width: 100%;
  z-index: 4;
  background-color: #81171e;
}

/* Al hacer hover en .hover-trigger, modificamos .hover-bar */
.hover_trigger:hover + .hover_bar {
  height: 14.5vh; /* o 4rem */
}

/* Contenido centrado arriba del video y la barra */
.content {
  position: relative;
  z-index: 3;
  top: 15%;
  transform: translateY(-50%);
  text-align: center;
  color: black;
}

.nav_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 6rem;
  height: 14.5vh;
  border-bottom: 1px solid #a41317; /* ← Línea borde */
  box-sizing: content-box;
}

.logo {
  flex: 0 0 auto; /* que el logo no crezca */
}
.logo img {
  width: auto;
  height: 7vh;
}

.nav_links {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2rem;
  font-size: 1.1rem;
}

.nav_links a {
  position: relative;
  color: white;
  text-decoration: none;
}

.nav_links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px; /* cambia este valor para bajar más */
  width: 100%;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav_links a:hover::after {
  transform: scaleX(1);
}

.main_text {
  display: flex;
  position: absolute;
  top: 40%;
  left: 10%;

  justify-content: center;
  font-size: 6rem;
  padding: 4%;
  color: white;
}
.main_text_2 {
  display: flex;
  position: absolute;
  top: 50%;
  left: 10%;
  justify-content: center;
  font-size: 6rem;
  padding: 4%;
  color: white;
}

/* --- MENÚ HAMBURGUESA --- */
.hamburger {
  display: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  z-index: 1001;
}

/* Menú deslizable lateral */
.mobile_menu {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 30vh;
  background-color: #81171e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: right 0.4s ease;
  z-index: 1000;
}

.mobile_menu_open {
  right: 0;
}

.mobile_menu a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  transition: color 0.3s;
}

.mobile_menu a:hover {
  color: #ffcccc;
}

@media (max-width: 1024px) {
  .hero {
    height: 11vh;
  }

  .hover_trigger {
    height: 10vh;
  }
  .nav_container {
    justify-content: start;
    padding: 0 1rem;
    height: 10vh;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .logo img {
    width: 200px; /* tamaño fijo más controlable */
    height: auto;
  }
  .nav_links {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 1.5rem;
    z-index: 201;
  }

  .cruz {
    display: block;
    position: absolute;
    font-size: 1.8rem;
    color: #81171e;
    cursor: pointer;
    right: 1.6rem;
    top: 1.6rem;
    z-index: 201;
  }

  .mobile_menu {
    top: 0;
    right: -100%;
    width: 100%;
    height: 30vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transition: right 0.4s ease;
    z-index: 2000; /* debajo de la hamburguesa */
    padding: 20px 0px 0 0;
  }

  .mobile_menu_open {
    right: 0;
  }

  .mobile_menu a {
    color: #81171e;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    transition: color 0.3s;
  }

  .mobile_menu a:hover {
    color: #ffcccc;
  }

  .hover_trigger:hover + .hover_bar {
    height: 12vh;
  }

  .nav_links a {
    text-align: center;
  }
  .main_text {
    font-size: 4rem;
    left: 6%;
  }
  .main_text_2 {
    padding-top: 70px;
    font-size: 4rem;
    left: 6%;
  }
}
